.rodape{
    display: flex;
    margin: 10px auto;
    padding: 5px;
    width: 350px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: 2px var(--cor01) solid;
    border-radius: 25px;
    font-size: 1.1em;
}
.rodape:hover{
    cursor: default;

}

.github{
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
}