.calculadoras{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
    width: fit-content;
    background-color: var(--cor-fundo-seletores);
    text-align: center;
    border-radius: 10px;
    border: 0.5px var(--cor-bordas) solid;
    box-shadow: 0px 0px 10px var(--cor-sombras);
    font-size: 1.8em;
}
.valores{
    width: 200px;
    font-size: 0.7em;
}

.leuco__corrigido{
    width: 200px;
    font-size: 0.8em;
}

#fontes{
    font-size: 0.5em;
    padding: 5px;
}
