#formulario__cadastro{
    width: 40%;
    margin: 50px auto;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px var(--preto-transparente);
    }

.inputs__cadastro{
    font-size: 1.2em;
    outline: none;
    width: 75%;
    margin: 20px;
    padding: 5px;;
    cursor: text;
}

abbr{
    text-decoration: none;
    margin: 5px auto;
    font-weight: bold;
}