.valores{
    font-size: 25px;
    cursor: text;
    width: 200px;
    text-align: center;
    margin: 30px auto;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--verde-padrao);
    background-color: transparent;
}

.conteiner__calculadoras{
    background: var(--azul-hover) url(../img/logos/LabNet/default_transparent_765x625.png) no-repeat center;
    background-attachment: scroll;
    background-size: contain;
    border: 1px solid var(--preto-padrao);
    display: flex;
    font-size: 20px;
}
.conteiner__paragrafos{
    display: flex;
    align-items: flex-start;
    width: 75%;
    text-align: justify;
    padding: 10px 30px;
}
.paragrafos{
    margin: 75px auto;
    word-spacing: 10px;
    line-height: 40px;
}

.div__conteiner{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 5px 30px;
}