#calc__eritro{
    display: flex;
    font-size: 20px;
}
#conteiner__eritro{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 5px 30px;
}