/*BOTÕES*/
.botoes {
    font-size: 1.1rem;
    font-family: var(--fonte-header);
    font-weight: bold;
    border: 2px solid var(--cor01);
    width: 100px;
    height: auto;
    border-radius: 20px;
    padding: 2px;

}
.botoes:hover {
    background-color: var(--caixas-preenchimento);
    cursor: pointer;
}

.div__botoes{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}