/*BOTÕES*/
.botoes {
    font-size: 0.9em;
    font-family: var(--fonte-header);
    border: 2px solid var(--cor01);
    width: 100px;
    height: 30px;
    margin: 2%;
    border-radius: 20px;
}
.botoes:hover {
    background-color: var(--caixas-preenchimento);
    cursor: pointer;
}