.botoes{
    margin: 10px;
    width: 60px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
}
.div__botao{
    text-align: center;
    margin-top: 30px;
}
.ocultar__botao{
    display: none;
}
.botao__realizar{
    width: 150px;
}
.botoes:hover {
    background-color: var(--caixas-preenchimento);
}
.div__botoes{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
.botao__imprimir{
    margin: 1rem auto;
    padding: 0.2rem;
    font-size: 1rem;
    width: 100px;
}

.ocultar{
    display: none;
}