.cabecalho{
    font-family: var(--fonte-header);
    font-size: 1.5em;
    text-align: center;
    background: linear-gradient(to top, var(--cor01), transparent);
    padding: 25px 0px;
    text-shadow: 5px 5px 10px #0000004d;
}
