#dados__analista{
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 25px 0px;
    background-color: var(--cor01);
}

.seletores {
    font-family: var(--fonte-header);
    font-weight:bold;
}
.icones {
    padding: 0px 5px 0px 20px;
    }