#dados__analista{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 25px 0px;
    background-color: var(--cor01);
}

.seletores {
    font-family: var(--fonte-header);
    font-weight:bold;
    padding: 10px;
    border: 1px black solid;
}

.seletor__unidade::placeholder{
    background: url(../imagens/hospital-24px.png);
    background-repeat: no-repeat;
    background-position: 0.1rem center;
}

.seletor__id::placeholder{
    background: url(../imagens/id-24px.png);
    background-repeat: no-repeat;
background-position: 0.1rem center;
}

.seletor__nome::placeholder{
    background: url(../imagens/employee-24px.png);
    background-repeat: no-repeat;
    background-position: 0.1rem center
}

.seletor__data::placeholder{
    background: url(../imagens/calendar-24px.png);
    background-repeat: no-repeat;
    background-position: 0.1rem center
}