@charset "UTF-8";

.questao__03{
    text-align: center;
    gap: 5px;
}

.seletor__celula{
    font-family: var(--fonte-texto);
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px;
    margin: 20px;
    background-color: var(--cor-fundo-questoes);
    border: 1px solid black;
    font-weight: bold;
}

.botoes{
    margin: 10px;
    width: 60px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
}
.botoes:hover, .seletor__celula:hover{
    background-color: var(--cor02);
}
.botoes:active{
    background-color: var(--cor01);
}

.lista__celulas{
    list-style-type: none;
}

.quantidade__celula{
    width: 100px;
    border: 2px solid black;
    margin: 10px;
}