@charset "UTF-8";

.questao__03{
    display: auto;
    text-align: center;
    gap: 5px;
    width: 85%;
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--cor-fundo-questoes);
    padding: 20px;
    margin: 30px auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px var(--sombra-caixas);
    border: 0.5px solid var(--cor-bordas);
}

.celula{
    margin: 15px;
    font-size: 1.2rem;
    width: 200px;
    height: 18px;
    padding: 0.2rem;;
    text-align: center;
    border: 1px var(--cor01) solid;
    outline: none;
    border-radius: 10px;
}


.botoes:hover{
    background-color: var(--cor02);
}
.botoes:active{
    background-color: var(--cor01);
}

.lista__celulas{
    list-style-type: none;
}

.quantidade__celula{
    width: 100px;
    border: 2px solid black;
    margin: 10px;
}

.valor__errado{
    color: red;
}
.valor__certo{
    color: green;
}

.mostrar__total{
    display: block;
}
