@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sogdian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@import url("botoes.css");
@import url("header.css");
@import url("media_query.css");
@import url("nav.css");
@import url("questoes.css");
@import url("rodape.css");

:root {
    --cor01: #00653D;
    --cor02: #11be7967;
    --cor-main: #ffffff;
    --cor-fundo-questoes: #eeecec;
    --cor-bordas: rgb(0 0 0 / 5%);
    --fonte-header: 'Noto Sans Sogdian';
    --fonte-texto: 'Ubuntu';
    --caixas-preenchimento: rgb(215, 250, 215);
    --sombra-caixas: rgb(0 0 0 / 15%);
}

* {
    margin: 0px;
    padding: 0px;
}
input, select {
    font-size: 0.8em;
    font-family: var(--fonte-texto);
    width: 200px;
    height: 18px;
    text-align: center;
    box-shadow: 5px 5px 10px var(--sombra-caixas);
    border-radius: 7px;
}
input:focus {
    background-color: var(--caixas-preenchimento)
}
textarea {
    font-size: 0.8em;
    font-family: var(--fonte-texto);
    margin: 1% 0% 0% 2%;
    border-radius: 5px;
    text-align: justify;
    box-shadow: 5px 5px 10px var(--sombra-caixas);
    
}
textarea:focus {
    background-color: var(--caixas-preenchimento)
}


/*BODY*/
body {
    width: 100vw;
    background-color: #11be7967;
}
/*MAIN*/
main {
    box-sizing: border-box;
    font-family: var(--fonte-texto);
    font-weight: normal;
    text-align: center;
    width: 90vw;
    margin: 0% auto 5% auto;
    background-color: var(--cor-main);
    box-shadow: 5px 5px 10px var(--sombra-caixas);
    border: 1px solid var(--cor-bordas);
    border-radius: 0px 0px 20px 20px;
}
main div {
    font-size: 120%;
    text-align: center;
    background-color: var(--cor-fundo-questoes);
    width: 100%;
    padding: 20px 20px;
    margin: 2% auto;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 10px var(--sombra-caixas);
    border: 0.5px solid var(--cor-bordas);
}