@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url(header.css);
@import url(main.css);
@import url(section.css);
@import url(botoes.css);
@import url(rodape.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
    text-align: center;
}

:root {
    --cor-fundo: #e1e0e0;
    --cor-bordas: #00000080;
    --cor-sombras: #000000a1;
    --cor-fundo-seletores: #ffffff;
    --fundo_footer: #0000003b
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.corpo {
    background-color: var(--cor-fundo);
}