@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    width: 100vw;
}

:root{
    --cor01: #00653D;
    --cor02: #11be7967;
    --cor-main: #ffffff;
    --caixas-preenchimento: #d7fad7;
}

.cabecalho{
    font-size: 2em;
    background-color: var(--cor02);
    margin: auto;
    padding: 10px;
    color: var(--cor01);
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: 1.5em;
    margin: 1em auto;
}

.seletores{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    background-color: var(--cor-main);
}

.seletores__setor{
    text-align: center;
    width: 750px;
    margin: 0.5em auto;
    padding: 30px;   
    font-size: 3em;
    text-decoration: none;
    color: var(--cor01);
    border: 2px var(--cor01) solid;
    background-color: var(--cor02);
}

.seletores__setor:hover{
    background-color: var(--cor01);
    border: 2px var(--cor01) solid;
    color: var(--cor-main);
}