@import url("../../interanalista/estilos/style-interanalista.css");

.seletores{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--cor-main);
}

.seletores__setor{
    text-align: center;
    justify-content: center;
    width: 25%;
    margin: 20px auto;
    padding: 10px;   
    font-size: 3em;
    text-decoration: none;
    color: var(--cor01);
    border: 2px var(--cor01) solid;
    background-color: var(--cor02)
}

.hemato:hover{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagens/blood_cells.png);
    background-position: center;
    transition: 0.5s;
    color: transparent;
}

.bioq:hover{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagens/bioquimica.jpg);
    background-position: center;
    transition: 0.5s;   
    color: transparent;
}

.qualidade:hover{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagens/grafico.png);
    background-position: center;
    transition: 0.5s;
    color: transparent;
}

