/* @media (max-width: 690px){
    .seletores__setor{
        width: 500px;
        font-size: 2em;
    }
}

@media (max-width: 1024px){
    .seletores__setor{
        width: 50%;
        font-size: 2em;
    }
} */