.calculadoras{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
    width: fit-content;
    background-color: var(--cor-fundo-seletores);
    text-align: center;
    border-radius: 10px;
    border: 0.5px var(--cor-bordas) solid;
    box-shadow: 0px 0px 10px var(--cor-sombras);
    font-size: 1.8em;
}
.valores{
    margin: 0.5rem;
    text-align: center;
    width: 10rem;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid black;
}

#fontes{
    font-size: 0.5em;
    padding: 5px;
}
