@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('inputs.css');
@import url('footer.css');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

:root{
    --transparencia-80: rgb(255, 255, 255, 0.8);
    --cor-fonte: #ffffff;
    --cor-fundo: #5E7D64;
    --cor-completo: #3FFC68;
    --cor-sombra-completo: #5EBD73;
    --cor-incompleto: #FF132E;
    --cor-sombra-incompleto: #A7626A;
    --cor-borda: #52494A;
}

.cabecalho{
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    width: 700px;
    font-size: 2rem;
    color: #00f936;
}

.titulo{
    width: fit-content;
    margin: auto;
}

#linha{
    text-align: center;
    width: 100%;
    margin: auto;   
}

.corpo{
    text-align: center;
    margin: auto;
    background: url(../img/background.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;

}
.container{
    width: 800px;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px var(--cor-borda);
}

.lista__tarefas{
    list-style: none;
}

.tarefa_inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #00000073;
    background-color: var(--transparencia-80);
    font-weight: bold;
    cursor: pointer;
}

.tarefas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #00000073;
    background-color: var(--transparencia-80);
    font-weight: bold;
    cursor: pointer;
    overflow: auto;
}
.tarefas:hover .imagens{
    opacity: 1;
    transition: 0.8s;
}
.tarefa__completa{
background-color: var(--cor-completo);
box-shadow: 0px 0px 5px 5px var(--cor-borda);
text-decoration: line-through;

}

.imagens{
    height: 25px;
    cursor: pointer;
    opacity: 0;
}

@media (max-width: 500px){
    .corpo{
        background-image: url(../img/background_pequeno.jpg);
        text-align: center;
    }
    .cabecalho{
        text-align: center;
        width: 100vw;
    }
    #linha{
        text-align: center;
        width: 100vw;
        margin: auto;   
    }

    .tarefas{
        width: 100vw;
    }
    .botoes{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .inputs{
        width: 90%;
        padding: 10px;
        height: 2.5rem;
    }
    .nova__tarefa{
        display: flex;
        justify-content: baseline;   
        height: 3.5rem;
    }
    .container{
        margin: auto;
        text-align: center;
        width: 100vw;
        padding: 15px 1px;
        margin: 15px auto;
    }
    .lista__tarefas{
        width: 100%;
        margin: auto;
    }
    .tarefas{
        width: 90%;
        overflow: scroll;
    }
    .tarefas .imagens{
        opacity: 1;
    }
}